<%= bootstrap_form_for(@contact, layout: :inline) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.text_field :met_on_social_platform %>
  </div>
  <div class="field">
    <%= f.date_select :date_met %>
  </div>
  <div class="field">
    <%= f.text_field :availability %>
  </div>
  <div class="field">
    <%= f.select :skillset, options_for_select(Contact.skillsets.keys, @contact.skillset) %>
  </div>
  <div class="field">
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.collection_check_boxes :expertise_ids, Expertise.all, :id, :discipline, label: { text: "Area of Expertise" } do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
