<%= bootstrap_form_for(@contact, layout: :inline) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.text_field :met_on_social_platform %>
  </div>
  <div class="field date">
    <%= f.text_field :date_met %>
     <script>
      $('.date').datepicker({
          format: "yyyy-mm-dd",
          });
      </script>
  </div>
  <div class="field">
    <%= f.select :availability, options_for_select([['Full time', 1], ['Part Time > 30 hours', 2], ['Part Time < 30 hours', 3], ['Part Time < 10 hours', 4]]) %>
  </div>
  <div class="field">
    <%= f.select :skillset, options_for_select(Contact.skillsets.keys, @contact.skillset) %>
  </div>
  <div class="field">
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.collection_check_boxes :expertise_ids, Expertise.all, :id, :discipline, label: { text: "Area of Expertise" } do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
    <div >
      <%= link_to 'New Expertise', new_expertise_path %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
