<p id="notice"><%= notice %></p>

<h1>My Network</h1>

<%= form_tag contacts_path, method: 'get', class: 'form-inline' do %>
  <div class="form-group">
    <%= text_field_tag :search, '', {class: 'form-control'} %>
    <%= submit_tag "Search", name: nil, class: 'btn btn-default' %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Met on social platform</th>
      <th>Date met</th>
      <th>Availability</th>
      <th>Skillset</th>
      <th>Expertise</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.met_on_social_platform %></td>
        <td><%= contact.date_met %></td>
        <td><%= contact.availability %></td>
        <td><%= contact.skillset %></td>
        <td><%= contact.expertises.map(&:discipline).join", " %></td>
        <td><%= contact.notes %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path, class: 'btn btn-default' %>
