<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Service:</strong>
  <%= @contact.service %>
</p>

<p>
  <strong>Date:</strong>
  <%= @contact.date %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @contact.availability %>
</p>

<p>
  <strong>Skillset:</strong>
  <%= @contact.skillset %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
